<button
  type="button"
  class="border p-4 text-white bg-slate-800 rounded-md"
  {{on "click" (fn this.showCat "cat1")}} >
  Cat 1
</button>

<button
  type="button"
  class="border p-4 text-white bg-slate-800 rounded-md"
  {{on "click" (fn this.showCat "cat2")}} >
  Cat 2
</button>

<div class="border-2 border-black rounded my-2">
  <h3 class="text-xl font-bold py-2">Dynamic Ember Component</h3>
  <this.catComponent @onSave={{this.onSave}} />
</div>

<div class="border-2 border-black rounded my-2">
  <h3 class="text-xl font-bold py-2">Ifs</h3>

  {{#if this.showCat1}}
    <DynamicEmberComponents::Cat1 @onSave={{this.onSave}} />
  {{/if}}

  {{#if this.showCat2}}
    <DynamicEmberComponents::Cat2 @onSave={{this.onSave}} />
  {{/if}}
</div>